.sidebasr-dropdowns-item {
  background-color: rgb(28, 162, 28); /* Change to a darker green on hover */
  transition: background-color 0.3s ease;
}

.sidebars-dropdowns-item:hover {
  background-color: rgb(28, 162, 28); /* Change to a darker green on hover */
}

.sidebars-dropdowns-item .sidebar-link {
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.sidebars-dropdowns-item .nav-icon i {
  color: white;
}

.sidebars-dropdown-item .sidebar-txt {
  color: white;
  margin-left: 10px;
}
